.bpd-1 {
  background-size: cover;
  background-image: url('../img/bpd-1.png');
}

.bpd-2 {
  background-size: cover;
  background-image: url('../img/bpd-2.png');
}

.bpd-3 {
  background-size: cover;
  background-image: url('../img/bpd-3.png');
}
