.card {
  background-image: $light-cyan-gradient;
  border-radius: 4px;

  padding: 25px 24px;

  height: 304px;

  @media only screen and (min-width: $tablet-breakpoint) {
    display: flex;
    flex-flow: column;

    justify-content: space-between;

    padding: 25px 32px;
  }
}

.card__title {
  margin-bottom: 24px;
}
