$carousel-item-width: 304px;
$carousel-side-margin: 20px;

@mixin carousel_items($carousel-item-width) {
  @for $i from 2 through 4 {
    .carousel_items_#{$i} {
      $total-item-width: $carousel-item-width + $carousel-side-margin*2;
      $total-width: $total-item-width * $i;

      @for $j from 0 through $i - 1 {
        .carousel__dot:checked {
          &:nth-of-type(#{$j + 1}) ~ .carousel__slider {
            left: ($total-width - $total-item-width) / 2 - $total-item-width * $j;
          }
        }
      }
    }
  }
}

@mixin carousel_items_vertical($carousel-item-height) {
  @for $i from 2 through 4 {
    .carousel_items_#{$i} {
      @for $j from 0 through $i - 1 {
        .carousel__dot:checked {
          &:nth-of-type(#{$j + 1}) ~ .carousel__slider {
            left: 0;
            top: - $carousel-side-margin - ($carousel-item-height + $carousel-side-margin * 2) * $j;
          }
        }
      }
    }
  }
}

.carousel {
  overflow: hidden;

  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
}

.carousel__slider {
  display: flex;

  position: relative;

  transition: left 0.4s;
}

.carousel__item {
  margin: 0 $carousel-side-margin;
  width: $carousel-item-width;
}

.carousel__dot {
  width: 8px;
  height: 8px;

  background: #DD3E18;

  border-radius: 50%;

  margin: 24px 12px 0 12px;

  &:checked {
    background: #000000;
  }
}

@include carousel_items($carousel-item-width);

@media only screen and (min-width: 768px) {
  $carousel-item-width: 704px;

  .carousel__item {
    width: $carousel-item-width;
  }

  @include carousel_items($carousel-item-width);

  .carousel_disable_tablet {
    .carousel__slider {
      position: static;
    }
    .carousel__item {
      margin: 0;
    }
    .carousel__dot { display: none; }
  }
}

@media only screen and (min-width: 1024px) {
  $carousel-item-height: 384px;

  .carousel__slider {
    flex-flow: column;
    transition: top 0.4s;
  }

  .carousel__item {
    flex-shrink: 0;
    height: $carousel-item-height;
    margin: $carousel-side-margin 0;
  }

  .carousel_dots_right {
    height: $carousel-item-height;
    flex-flow: column wrap-reverse;

    .carousel__dot {
      margin: 16px 0 16px 16px;
    }
  }

  .carousel_dots_left {
    height: $carousel-item-height;
    flex-flow: column wrap;

    .carousel__dot {
      margin: 16px 16px 16px 0;
    }
  }

  @include carousel_items_vertical($carousel-item-height);
}
