$carousel-side-margin: 20px;

@mixin carousel_num_($carousel-item-width) {
  @for $i from 2 through 4 {
    &.carousel_num_#{$i} {
      $total-item-width: $carousel-item-width + $carousel-side-margin*2;
      $total-width: $total-item-width * $i;

      @for $j from 0 through $i - 1 {
        .carousel__dot:checked {
          &:nth-of-type(#{$j + 1}) ~ .carousel__slider {
            left: ($total-width - $total-item-width) / 2 - $total-item-width * $j;
          }
        }
      }
    }
  }
}

@mixin transition-top($carousel-item-height) {
  flex-flow: column;

  height: $carousel-item-height;

  .carousel__slider {
    flex-flow: column;
    transition: top 0.4s;
  }

  .carousel__item {
    flex-shrink: 0;

    height: $carousel-item-height;
    margin: $carousel-side-margin 0;
  }

  @for $i from 2 through 4 {
    &.carousel_num_#{$i} {
      @for $j from 0 through $i - 1 {
        .carousel__dot:checked {
          &:nth-of-type(#{$j + 1}) ~ .carousel__slider {
            left: 0;
            top: - $carousel-side-margin - ($carousel-item-height + $carousel-side-margin * 2) * $j;
          }
        }
      }
    }
  }
}

.carousel {
  @include carousel_num_($mobile-default-width);

  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;

  overflow: hidden;

  @media only screen and (min-width: $tablet-breakpoint) {
    @include carousel_num_($tablet-default-width);
  }
}

.carousel__slider {
  display: flex;

  position: relative;

  transition: left 0.4s;
}

.carousel__item {
  margin: 0 $carousel-side-margin;
  width: $mobile-default-width;

  cursor: pointer;

  @media only screen and (min-width: $tablet-breakpoint) {
    width: $tablet-default-width;
  }
}

.carousel__dot {
  width: 8px;
  height: 8px;

  background: $red;

  border-radius: 50%;

  margin: 24px 12px 0 12px;

  cursor: pointer;

  &:checked { background: black; }
}

.carousel_disable-tablet {
  @media only screen and (min-width: $tablet-breakpoint) {
    .carousel__slider { position: static; }
    .carousel__item { margin: 0; }
    .carousel__dot { display: none; }
  }
}

.carousel_style_large-tablet-right {
  @media only screen and (min-width: $large-tablet-breakpoint) {
    @include transition-top($large-tablet-default-section-height);

    flex-wrap: wrap-reverse;

    .carousel__dot {
      margin: 8px 0 8px 16px;
    }
  }
}

.carousel_style_large-tablet-left {
  @media only screen and (min-width: $large-tablet-breakpoint) {
    @include transition-top($large-tablet-default-section-height);

    flex-wrap: wrap;

    .carousel__dot {
      margin: 8px 16px 8px 0;
    }
  }
}
