.example {
  display: flex;
  flex-flow: column;

  @media only screen and (min-width: $tablet-breakpoint) {
    display: grid;

    grid:
      "title description" auto
      "link description" 1fr
      "gallery gallery" 528px
      / 1fr 384px;
  }

  @media only screen and (min-width: $large-tablet-breakpoint) {
    grid:
      "gallery title" auto
      "gallery link" 1fr
      "gallery description" auto
      / 568px 1fr;

    grid-column-gap: 72px;
  }
}

.example__title {
  margin-bottom: 8px;

  @media only screen and (min-width: $tablet-breakpoint) {
    grid-area: title;
  }
}

.example__link {
  line-height: 24px;

  margin-bottom: 16px;

  @media only screen and (min-width: $tablet-breakpoint) {
    grid-area: link;
  }
}

.example__description {
  opacity: 0.8;

  margin-bottom: 16px;

  @media only screen and (min-width: $tablet-breakpoint) {
    grid-area: description;
  }
}

.example__gallery {
  @media only screen and (min-width: $tablet-breakpoint) {
    grid-area: gallery;
  }
}

.example__screenshot {
  background-size: $mobile-default-width 216px;

  width: $mobile-default-width;
  height: 216px;

  @media only screen and (min-width: $tablet-breakpoint) {
    background-size: $tablet-default-width 496px;

    width: $tablet-default-width;
    height: 496px;
  }

  @media only screen and (min-width: $large-tablet-breakpoint) {
    background-size: 544px 384px;

    width: 544px;
    height: 384px;
  }
}

.example_align-right {
  @media only screen and (min-width: $large-tablet-breakpoint) {
    grid-template-areas:
      "title gallery"
      "link gallery"
      "description gallery";

    grid-template-columns: 1fr 568px;
  }
}
