.header {
  display: grid;
  grid: ". body ." 648px / 1fr $mobile-default-width 1fr;

  background: $dark-blue;

  @media only screen and (min-width: $tablet-breakpoint) {
    grid-template-rows: 1024px;
    grid-template-columns: 1fr $tablet-narrow-width 1fr;
  }

  @media only screen and (min-width: $large-tablet-breakpoint) {
    grid: "body" 768px / 1fr;
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    grid-template-rows: 672px;
  }
}

.header__body {
  grid-area: body;

  padding-top: 33px;
  padding-bottom: 42px;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  @media only screen and (min-width: $tablet-breakpoint) {
    padding-top: 97px;
    padding-bottom: 145px;
  }

  @media only screen and (min-width: $large-tablet-breakpoint) {
    padding: 0;

    display: grid;

    text-align: left;

    grid:
      "avatar title" 94px
      "avatar name" 1fr
      "avatar summary" 349px
      / 424px 1fr;

    grid-gap: 11px 96px;
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    grid-template: 94px 1fr 285px / 552px 1fr;
  }
}

.header__title {
  font-size: 16px;
  color: white;

  @media only screen and (min-width: $tablet-breakpoint) {
    font-size: 24px;
  }

  @media only screen and (min-width: $large-tablet-breakpoint) {
    grid-area: title;
    align-self: flex-end;
  }
}

.header__name {
  color: white;

  display: flex;
  flex-flow: column;

  @media only screen and (min-width: $tablet-breakpoint) {
    flex-flow: row;
  }

  @media only screen and (min-width: $large-tablet-breakpoint) {
    grid-area: name;
    align-self: flex-start;
  }
}

.header__first-name {
  @media only screen and (min-width: $tablet-breakpoint) {
    margin-right: 15px;
  }
}

.header__summary {
  color: white;

  @media only screen and (min-width: $tablet-breakpoint) {
    font-size: 20px;
    line-height: 28px;
  }

  @media only screen and (min-width: $large-tablet-breakpoint) {
    grid-area: summary;
    align-self: flex-start;

    max-width: 464px;
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    max-width: 544px;
  }
}

.header__avatar {
  height: 144px;
  width: 144px;

  border-radius: 50%;

  background-image: url('../img/monk.jpg');
  background-size: 120%;
  background-position-y: -17px;

  @media only screen and (min-width: $tablet-breakpoint) {
    height: 384px;
    width: 384px;

    background-position-y: -67px;
  }

  @media only screen and (min-width: $large-tablet-breakpoint) {
    grid-area: avatar;

    border-radius: initial;

    width: 100%;
    height: 100%;

    background-size: 160%;
    background-position-x: -67px;
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    background-size: 145%;
    background-position-y: -140px;
  }
}
