.header {
  display: flex;
  flex-flow: column;

  padding: 33px 0 42px 0;

  justify-content: space-between;
  align-items: center;

  height: 648px;

  @media only screen and (min-width: $tablet-breakpoint) {
    padding-top: 97px;
    padding-bottom: 145px;

    height: 1024px;
  }

  @media only screen and (min-width: $small-desktop-breakpoint) {
    height: 768px;

    padding: 0;

    display: grid;

    grid:
      "avatar title" 94px
      "avatar name" 303px
      "avatar summary" 1fr
      / 424px 1fr;

    grid-gap: 11px 96px;
  }

  @media only screen and (min-width: $large-desktop-breakpoint) {
    height: 672px;

    grid-template: 94px 282px 1fr / 552px 1fr;
  }
}

.header__title {
  color: #FFFFFF;
  font-family: Helvetica-Bold;
  font-size: 16px;
  text-align: center;

  @media only screen and (min-width: $tablet-breakpoint) {
    font-size: 24px;
  }

  @media only screen and (min-width: $small-desktop-breakpoint) {
    grid-area: title;

    text-align: left;
    align-self: flex-end;
  }
}

.header__name {
  display: flex;
  flex-flow: column;

  color: #FFFFFF;
  font-family: Helvetica-Bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  @media only screen and (min-width: $tablet-breakpoint) {
    flex-flow: row;

    font-size: 40px;
    line-height: normal;
  }

  @media only screen and (min-width: $small-desktop-breakpoint) {
    grid-area: name;
    align-self: flex-start;
  }
}

.header__first-name {
  @media only screen and (min-width: $tablet-breakpoint) {
    margin-right: 15px;
  }
}

.header__summary {
  color: #FFFFFF;
  font-family: Georgia;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media only screen and (min-width: $tablet-breakpoint) {
    font-size: 20px;
    line-height: 28px;
  }

  @media only screen and (min-width: $small-desktop-breakpoint) {
    grid-area: summary;

    text-align: left;

    max-width: 464px;
    align-self: flex-start;
  }

  @media only screen and (min-width: $large-desktop-breakpoint) {
    max-width: 544px;
  }
}

.header__avatar {
  background-image: url('../monk.jpg');
  background-position-y: -17px;
  background-size: 120%;
  border-radius: 50%;
  height: 144px;
  width: 144px;

  @media only screen and (min-width: $tablet-breakpoint) {
    height: 384px;
    width: 384px;

    background-position-y: -67px;
  }

  @media only screen and (min-width: $small-desktop-breakpoint) {
    grid-area: avatar;

    border-radius: initial;

    width: 100%;
    height: 100%;

    background-size: 160%;
    background-position-x: -67px;
  }

  @media only screen and (min-width: $large-desktop-breakpoint) {
    background-size: 145%;
    background-position-y: -140px;
  }
}
