*, *::before, *::after {
  box-sizing: border-box;
}

html, body, h1, h2, p, ul {
  padding: 0;
  margin: 0;
}

input, textarea, button, label {
  -webkit-appearance: none;
  outline: none;
  border: none;

  resize: none;
}

ul {
  list-style-type: none;
}
